h1= locals.title
h1 hi
p1= data


//h1= title
//#articles
//	- each article in articles
//		div.article
//			// div.created_at= article.created_at
//			div.title
//				a(href='/blog'+article.id)!= article.title
//			div.body= article.body