h1 Add New Album
form#formAddAlbum(enctype='multipart/formdata', name="addalbum",method="post",action="/addalbum")
    input#inputUserName(type="text", placeholder="name", name="albumname")
    input#inputUserEmail(type="text", placeholder="link", name="albumlink")
    input#picture(type='file' name='image')
    button#btnSubmit(type="submit") submit