h1 Add New Album
form#formAddAlbum(name="addalbum",method="post",action="/addalbum")
    input#inputUserName(type="text", placeholder="name", name="albumname")
    input#inputUserEmail(type="text", placeholder="link", name="albumlink")
    button#btnSubmit(type="submit") submit