extends ../layouts/withpic
// don't forget to add title!!

block stylesheets
	link(rel='stylesheet', href="/stylesheets/prod/carousel.css")
	link(rel='stylesheet', href='/stylesheets/prod/custom.css')

block image-info
	block label

	#Carousel.carousel.slide.carousel-fade(data-ride="carousel")
		ol.carousel-indicators
			// wrapper for slides
		.carousel-inner
			block pix

		// controls
		.buttons
			a.left-carousel-control(href="#Carousel" data-slide="prev") prev
			|  / 
			a.right-carousel-control(href="#Carousel" data-slide="next") next