extends albumlayout

block title
	title Chuck's Photos | Bigger than Critters

block label
	h1.text-center.title Bigger than Critters

block pix
	.item.carousel-item.active
		img.img-responsive(src="/images/unfiltered/wolves.jpg" alt="tree")
	.item.carousel-item
		img.img-responsive(src="http://upload.wikimedia.org/wikipedia/commons/4/46/Bear_Alaska_(3).jpg" alt="lake")
	.item.carousel-item
		img.img-responsive(src="http://grist.files.wordpress.com/2012/09/otter-06.jpg" alt="sunset")
