extends albumlayout

block title
	title Chuck's Photos | Birds

block label
	h1.text-center.title Birds

block pix
	.item.carousel-item.active
		img.img-responsive(src="http://animalia-life.com/data_images/bird/bird7.jpg" alt="bird")
	.item.carousel-item
		img.img-responsive(src="http://animalia-life.com/data_images/hawk/hawk2.jpg" alt="hawk")
	.item.carousel-item
		img.img-responsive(src="http://animalia-life.com/data_images/quail/quail4.jpg" alt="quail")
