extends albumlayout

block title
	title Chuck's Photos | Critters

block label
	h1.text-center.title.bold Critters

block pix
	.item.carousel-item.active
		img.img-responsive(src="http://www.looneypalace.com/img01/cute-little-animals01.jpg" alt="rabbit")
	.item.carousel-item
		img.img-responsive(src="http://www.allcrittersitter.com/art/Critters/Little-Critter-6.jpg" alt="hamster")
	.item.carousel-item
		img.img-responsive(src="http://1.bp.blogspot.com/-4imwq-ewArs/TvpIe3vT1lI/AAAAAAAAEbU/gALK9LDRAKs/s1600/possum.jpg" alt="possum")
