extends albumlayout

block title
	title Chuck's Photos | Landscapes

block label
	h1.text-center.title Landscapes

block pix
	.item.carousel-item.active
		img.img-responsive(src="/images/mountain.jpg" alt="tree")
		// .carousel-caption do you want to caption the photos?
	.item.carousel-item
		img.img-responsive(src="/images/lake.jpg" alt="lake")
		// .carousel-caption
			p this is a lake
	.item.carousel-item
		img.img-responsive(src="/images/sunset.jpg" alt="sunset")
		// .carousel-caption
			p this is a sunset