extends albumlayout

block title
	title Chuck's Photos | Landscapes

block label
	h1.text-center.title.bold Landscapes

block pix
	.item.carousel-item.active
		img.img-responsive(src="/images/mountain.jpg" alt="tree")
	.item.carousel-item
		img.img-responsive(src="/images/lake.jpg" alt="lake")
	.item.carousel-item
		img.img-responsive(src="/images/sunset.jpg" alt="sunset")
