extends albumlayout

block title
	title Chuck's Photos | More

block label
	h1.text-center.title.bold.big_text More

block pix
	.item.carousel-item.active
		img.img-responsive(src="/images/lower_res/tree.jpg" alt="tree")
	.item.carousel-item
		img.img-responsive(src="http://cdn.theatlantic.com/static/mt/assets/food/nature%20tree%20main.jpg" alt="lake")
	.item.carousel-item
		img.img-responsive(src="https://lh6.googleusercontent.com/-r3reJSJH4ZE/USR4p3eawgI/AAAAAAAAB58/Ckp9smiMFng/w800-h800/Nature-Wallpaper-9.jpg" alt="sunset")