extends layouts/index

block title
	title Chuck's Photos | Contact

block content
	h1.text-center.bold Contact Me
	p.text-center.fell_font phone: (305) 609-6490
	p.text-center.fell_font email: cedelsteinphoto@icloud.com
