extends layouts/index

block title
	title Chuck's Photos | For Sale

block content
	h1.text-center.bold.big_text For Sale
	p.text-center.fell_font This is where I will place all of my material that can be sold.