extends layouts/index

block title
	title Chuck's Photos | Framing

block content
	h1.text-center.bold.big_text Do It Yourself Framing
	p.text-center.fell_font Buying a photo doesn't have to be an expensive process. Here's how to do it easily and under a buget.