extends layouts/index

block title
	title Chuck's Photos | Home

block content
	.intro
		h1.text-center Hi, I'm Chuck.
		h1
		p.text-center 
			| Welcome to my website! Take a look at my pictures, learn about how buying photos (mine or otherwise) can be easy and affordable, or 
			a(href="/prod/contact/") reach out 
			| to me. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	img.img-responsive.img-center(src="/images/headshot.jpg", style="height: 250px;margin: 0 auto;")