html
	head
		title= "Chuck Edelstein Photography"
		
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/home1.css')

		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="/javascripts/bootstrap.min.js")
	
	body
		.header
			h3.text-muted Chuck Edelstein

		.text-center
			h1 Coming Soon

		a.btn.btn-default(href="mailto:cedelstein@aol.com") Shoot me an Email