extends layout

block stylesheets
	link(rel='stylesheet',href='/stylesheets/full/page-spef/contact.css')

block scripts

block content
	.contact-content
		h1 get in touch
		p p: 305.609.6490
		p e: 
			a(href="mailto:chuckedelsteinphoto@icloud.com") chuckedelsteinphoto@icloud.com