extends layout

block stylesheets
	link(rel='stylesheet',href='/stylesheets/full/page-spef/contact.css')

block scripts

block content
	.contact-content
		h3 contact info
		p p: (123) 456-7890
		p e: chuckedelsteinphoto@icloud.com
		p a: p.o. box 1123, nederland, colorado 80466