extends layoutwithpix

block title
	title= "Chuck Edelstein | Home"

block stylesheets
	link(rel='stylesheet', href="/stylesheets/full/home.css")

block scripts
	script(src='/javascripts/full/home.js')

block image-info
	img.img-responsive.img-center(src="/images/lake.jpg", style="height: 200px;margin: 0 auto;")

// intro
block rest-of-content
	.intro
		h1.text-center Hi, I'm Chuck.
		p.text-center 
			| Welcome to my website! Take a look at my pictures, learn about how buying photos (mine or otherwise) can be easy and affordable, or 
			a(href="/contact/") reach out 
			| to me. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

	img.img-responsive.img-center(src="/images/profile.JPG", style="height: 200px;margin: 0 auto;")

	p.text-center (yeah, i have no idea why this picture is sideways....)
