extends layout

block stylesheets
	link(rel='stylesheet', href="/stylesheets/full/layoutwithpix.css")

block scripts
	script(src='/javascripts/full/layoutwithpix.js')

block content
	.col-sm-9
		.slideshow
			block image-info

		block rest-of-content