//
// CHUCK EDELSTEIN photography website
//
// full site layout
//

doctype html
html
	head
		// title
		block title

		// stylesheets
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/full/layout.css')
		block stylesheets
		
		// tab icon
		link(rel="shortcut icon" href="/images/camera.ico")

		// fonts
		link(href="//fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css")
		link(href="//fonts.googleapis.com/css?family=Annie+Use Your Telescope:400" rel="stylesheet" type="text/css")

		// javascripts
		script(src="/javascripts/plugins/jquery.js")
		script(src="/javascripts/plugins/bootstrap.min.js")
		script(src='/javascripts/full/layout.js')
		block scripts
		
	body
		.container
			.row
				block header
					.bannerclick
						h1#banner Chuck Edelstein Photography

					button.navbar-toggle.collapsed.span7.text-center(type='button', data-toggle='collapse' data-target='.navbar-collapse')
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

					.navbar-collapse.collapse.in
						ul.nav.navbar-nav
							li
								a(href="/dev/") home
							
							//li#albumnames.mobile-album-dropdown
								a albums
							
							- each albumname in links
								li.album
									a(href='/dev/album1')= albumname.albumname

							//li#album1.album
							//	a(href='/dev/album1') critters
							//li#album2.album
							//	a(href='/dev/album2') landscape
							//li#album3.album
							//	a(href='/dev/album3') more

							li
								a(href='/dev/forsale') for sale

							li
								a(href='/dev/frames') do-it-yourself framing

							li
								a(href='/dev/contact') contact

				block sidebar
					.col-sm-3.sidebar.full-view
						.item
							#home 
								a(href="/dev/") home
						
						.item
							#albums 
								a albums
							#albumnames
								- each albumname in links
									.album
										a(href='/dev/album1')= albumname.albumname

								//#album1.album
								//	a(href='/dev/album1') critters
								//#album2.album
								//	a(href='/dev/album2') landscape
								//#album3.album
								//	a(href='/dev/album3') more
						.item
							#forsale
								a(href='/dev/forsale') for sale / gift
						.item
							#framing
								a(href='/dev/frames') do-it-yourself framing
						.item
							#contact
								a(href='/dev/contact') contact

				.content
					block content

				block footer