extends layout

block stylesheets
	link(rel='stylesheet', href="/stylesheets/full/layoutwithpix.css")

block scripts
	script(src='/javascripts/full/layoutwithpix.js')

block content
	.slideshow.col-sm-9
		block image-info
		// sample code:
		// img.img-responsive.img-center(src="/images/lower_res/tree.jpg", style="height: 200px;margin: 0 auto;")