extends layout

block stylesheets
	link(rel='stylesheet', href="/stylesheets/full/layoutwithpix.css")

block scripts
	script(src='/javascripts/full/layoutwithpix.js')

block content
	.slideshow.col-md-9
		p hello!!!