//
// CHUCK EDELSTEIN photography website
//
// prod site layout
// (no database)
//

doctype html
html
	head
		// title
		block title

		// stylesheets
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/stylesheets/prod/layout.css')
		block stylesheets
		
		// tab icon
		link(rel="shortcut icon" href="/images/camera.ico")

		// meta tags
		meta(name="viewport" content="width=device-width, user-scalable=no")
		meta(name="description" content="Resident of South Florida and Nederland, Colorado. Specializes in wildlife snapshots and landscape portraits.")
		meta(name="keywords" content="Chuck, Edelstein, Photography, Wildlife, Photos")
		meta(name="author" content="Chuck Edelstein")
		meta(charset="UTF-8")

		// fonts
		link(href="//fonts.googleapis.com/css?family=Amatic+SC:400,700" rel="stylesheet" type="text/css")
		link(href="//fonts.googleapis.com/css?family=Annie+Use Your Telescope:400" rel="stylesheet" type="text/css")
		link(href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed|Nunito:300' rel='stylesheet' type='text/css')
		link(href='http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer:400,400italic' rel='stylesheet' type='text/css')

		// javascripts
		script(src="/javascripts/plugins/jquery.js")
		script(src="/javascripts/plugins/bootstrap.min.js")
		script(src='/javascripts/full/layout.js')
		block scripts
		
	body
		.container
			.row
				block header
					.bannerclick
						h1#banner.big_text <strong>Chuck Edelstein Photography</strong>

					button.navbar-toggle.collapsed.span7.text-center(type='button', data-toggle='collapse' data-target='.navbar-collapse')
							span.sr-only Toggle Navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar

					.navbar-collapse.collapse.in
						ul.nav.navbar-nav
							li
								a(href="/") home
							
							//li#albumnames.mobile-album-dropdown
								a albums

							li#album1.album
								a(href='/albums/birds') birds
							li#album2.album
								a(href='/albums/critters') critters
							li#album3.album
								a(href='/albums/bigger_than_critters') bigger than critters	
							li#album4.album
								a(href='/albums/landscapes') landscapes
							li#album5.album
								a(href='/albums/other') other stuff - travel and more
							li
								a(href='/forsale') for sale
							li
								a(href='/frames') do-it-yourself - framing for beginners
							li
								a(href='/contact') contact

				block sidebar
					.col-sm-3.sidebar.full-view
						.item
							#home 
								a(href="/") home
						
						.item
							#albums 
								a albums

							#albumnames
								// #album1.album
								//	a(href='/albums/critters') critters
								// #album2.album
								//	a(href='/albums/landscapes') landscapes
								// #album3.album
								//	a(href='albums/more') more


								#album1.album
									a(href='/albums/birds') birds
								#album2.album
									a(href='/albums/critters') critters
								#album3.album
									a(href='/albums/bigger_than_critters') bigger than critters	
								#album4.album
									a(href='/albums/landscapes') landscapes
								#album5.album
									a(href='/albums/other') other stuff - travel and more
						.item
							#forsale
								a(href='/forsale') for sale / gift
						.item
							#framing
								a(href='/frames') do-it-yourself - framing for beginners
						.item
							#contact
								a(href='/contact') contact

				.content
					block content

				block footer