body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

header {
	margin-top: -80px;
	display: inline-block;
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: gray;
	color: black;
}

header img {
	display: inline-block;
	height: 40px;
}

header p {
	display: inline-block;
}

a {
  color: #00b7ff;
}

.centerpiece {
	display: block;
	margin-left: auto;
	margin-right: auto;
		/* to center it */

	margin-top: 80px;

}