extends ../layoutwithpix

block title
	title= "Chuck Edelstein | Home"

block stylesheets
	link(rel='stylesheet', href="/stylesheets/full/home.css")

block scripts
	script(src='/javascripts/full/home.js')

block image-info
	img.img-responsive.img-center(src="/images/lower_res/tree.jpg", style="height: 200px;margin: 0 auto;")