extends layout

block stylesheets
	link(rel="stylesheet" href="/stylesheets/temp/boot_cover.css")

block content
	.site-wrapper
		.site-wrapper-inner
			.cover-container

				.masthead.clearfix
					.inner
						h3.masthead-brand Chuck Edelstein Photography
						a(href="mailto:chuckedelsteinphoto@icloud.com")
							img.nav.masthead-nav(src="/images/email_icon_squarect.png")

				.inner.cover
					h1.cover-heading Coming soon.
					p.lead “So I close in saying that I may have had a tough break, but I have an awful lot to live for.” - Lou Gehrig

				.mastfoot
					.inner
						p P.O. Box 1123, Nederland, CO 80466
