//
// CHUCK EDELSTEIN photography website
// coming soon page
//
// (will be connected to bootstrap ONLY -- no jQuery)
//

doctype html
html
	head
		title= "Chuck Edelstein"
		
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap-responsive.min.css')
		link(rel="shortcut icon" href="images/camera.ico")
		
		block stylesheets
	
	body
		block header
		block content