//
// CHUCK EDELSTEIN photography website
// coming soon page
//
// (will be connected to bootstrap + jquery)
//

doctype html
html
	head
		title= "Chuck Edelstein"
		
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap-responsive.min.css')
		link(rel="shortcut icon" href="images/camera.ico")
		
		block stylesheets
		
		script(src="http://code.jquery.com/jquery-2.1.0.min.js")
		script(src="/javascripts/bootstrap.min.js")
		script(src="/javascripts/image-switch.js")
	
	body
		block header
		block content