//
// CHUCK EDELSTEIN photography website
// coming soon page
//
// (will be connected to bootstrap ONLY -- no jQuery)
//

doctype html
html
	head
		title= "Chuck Edelstein"
		

		// meta tags
		meta(name="description" content="Resident of South Florida and Nederland, Colorado. Specializes in wildlife snapshots and landscape portraits.")
		meta(name="keywords" content="Chuck, Edelstein, Photography, Wildlife, Photos")
		meta(name="author" content="Chuck Edelstein")
		meta(charset="UTF-8")

		// google verification
		meta(name="google-site-verification" content="NbyY27sJEHSxBWUKcwqnY-HSkckCsYbyrzmNUT5QAT4")

		link(rel='stylesheet', href='/stylesheets/boot/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/boot/bootstrap-responsive.min.css')
		link(rel="shortcut icon" href="images/camera.ico")
		
		block stylesheets
	
	body
		block header
		block content